.slick-prev:before,
.slick-next:before {
    color: #5a5a5a !important;
    font-size: 40px;
}

.slick-dots li button:before {
    color: #5a5a5a !important;
    font-size: 30px;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    color: #5a5a5a !important;
    opacity: 1;
    font-size: 10px;

}